body {
  margin: 0;
}
#close {
  font-size: 40px;
  font-family: fantasy;
  position: absolute;
  text-decoration: none;
  color: white;
  /* left: 0px; */
  right: 10px;
}
.side-menu {
  height: 100%;
  background-color: white;
  width: 0px;
  position: fixed;
  transition: 0.5s;
  overflow: hidden;
}
.nav-menu {
  /* position: relative; */
  background-color: #111111;
  padding-bottom: 20px;
  padding-top: 50px;
}
.nav-menu a {
  color: white;
  display: block;
  margin: 8px 8px 8px 30px;
  font-size: 35px;
  font-family: sans-serif;
  text-decoration: none;
}
.contact {
  background-color: white;
  margin-top: 20px;
}
.contact a {
  color: #2c4152;
  display: block;
  margin: 10px 10px 10px 30px;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}

/* header section */
.app_header {
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
}
.logo img {
  height: 40px;
}

.header {
  background-color: #ff6700;
  color: white;
  display: none;
}
.main {
  height: auto;
  width: 100vw;
  margin-top: 60px;
}
.categories {
  /* display: flex; */
  height: 40vh;
  white-space: nowrap;
  overflow: auto;
}
.category-card {
  height: 84%;
  width: 40%;
  display: inline-block;
}
.category-card img {
  height: 100%;
  width: 100%;
}
.category-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/*corousel  */
.corousel {
  height: 35vh;
}
.corousel-image img {
  width: 100%;
}
/* stores  */
.stores {
  display: flex;
  flex-wrap: wrap;
}
.stores-card {
  height: 50%;
  width: 30%;
  margin: auto;
}

.stores-card img {
  height: 100%;
  width: 100%;
}
.stores-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}

/* men clothes */
.men-clothes {
  display: flex;
  flex-wrap: wrap;
}
.clothes-card {
  height: 50%;
  width: 30%;
  margin: auto;
}
.clothes-card img {
  height: 100%;
  width: 100%;
}
.clothes-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/* women clothes */
.women-clothes {
  display: flex;
  flex-wrap: wrap;
}
/* products */
.product-sales {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
.product_card {
  height: 50%;
  width: 50%;
  margin: auto;
}
.product_card img {
  height: 100%;
  width: 100%;
}
.product_card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/* footer  */
.app-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}
.footer-icon-container {
  display: flex;
}
.footer-icons {
  margin: auto;
  display: inline-block;
}
.block {
  display: block;
}
.monospace {
  font-family: monospace;
}
.footer-icons img {
  height: 30px;
  width: 30px;
}

/* common css */
h1 {
  font-family: sans-serif;
  background: antiquewhite;
  color: burlywood;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
