body {
  margin: 0;
}
#close {
  font-size: 40px;
  font-family: fantasy;
  position: absolute;
  text-decoration: none;
  color: white;
  /* left: 0px; */
  right: 10px;
}
.side-menu {
  height: 81%;
  background-color: white;
  width: 0px;
  position: fixed;
  transition: 0.5s;
  overflow: hidden;
}
.nav-menu {
  /* position: relative; */
  background-color: #111111;
  padding-bottom: 20px;
  padding-top: 50px;
}
.nav-menu a {
  color: white;
  display: block;
  margin: 8px 8px 8px 30px;
  font-size: 35px;
  font-family: sans-serif;
  text-decoration: none;
}
.contact {
  background-color: white;
  margin-top: 20px;
}
.contact a {
  color: #2c4152;
  display: block;
  margin: 10px 10px 10px 30px;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}

/* header section */
.app_header {
  padding-bottom: 10px;
  position: fixed;
  top: 0px;
  width: 350px;
  background-color: #ff6700;
}
.logo img {
  height: 40px;
}

.header {
  display: none;
  background-color: #ff6700;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}
.header-nav {
  width: 63%;
  margin-top: 15px;
}
.header-nav select {
  border-radius: 10px;
  width: 15%;
}
.drop {
  display: inline;
  border: none;
  border-radius: 10px;
  width: 15%;
  cursor: pointer;
}

.hover-links {
  cursor: pointer;
  display: none;
  left: 10px;
  position: absolute;
  width: 9%;
  padding-left: 10px;
  background-color: #2c4152;
  margin-top: -2px;
}
.hover-links a {
  display: block;
  color: white;
  margin: 5px;
  text-decoration: none;
  font-family: monospace;
}
.men {
  margin-left: 4%;
}
.women {
  margin-left: 14%;
}
.kids {
  margin-left: 24%;
}
#drop-men:hover + .hover-links {
  display: block;
}
#drop-women:hover + .hover-links {
  display: block;
}
#drop-kids:hover + .hover-links {
  display: block;
}
.hover-links:hover {
  display: block;
}
.hover-links a:hover {
  cursor: pointer;
  color: #ff6700;
  transition: 0.5s;
  background-color: #ddd;
}
.search {
  right: 10px;
  margin-top: 15px;
}
.header-nav a {
  color: white;
  font-size: smaller;
  text-decoration: none;
}
.header-nav a:hover {
  color: rgb(192, 3, 3);
}

/*main  */
.main {
  height: auto;
  width: 100vw;
  margin-top: 60px;
}
.categories {
  /* display: flex; */
  height: 35vh;
  white-space: nowrap;
  overflow: auto;
}
.category-card {
  height: 84%;
  width: 40%;
  display: inline-block;
}
.category-card img {
  height: 100%;
  width: 100%;
}
.category-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/*corousel  */
.corousel {
  height: 35vh;
  overflow: hidden;
}
.corousel-image img {
  width: 100%;
}
/* stores  */
.stores {
  display: flex;
  flex-wrap: wrap;
}
.stores-card {
  height: 50%;
  width: 50%;
  margin: auto;
}

.stores-card img {
  height: 100%;
  width: 100%;
}
.stores-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}

/* men clothes */
.men-clothes {
  display: flex;
  flex-wrap: wrap;
}
.clothes-card {
  height: 50%;
  width: 50%;
  margin: auto;
}
.clothes-card img {
  height: 100%;
  width: 100%;
}
.clothes-card span {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/* women clothes */
.women-clothes {
  display: flex;
  flex-wrap: wrap;
}
/* products */
.product-sales {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}
.product_card {
  height: 50%;
  width: 50%;
  margin: auto;
  text-align: center;
}
.product_card img {
  height: 100%;
  width: 100%;
}
.product_card .span1 {
  display: block;
  text-align: center;
  font-family: fantasy;
}
/* footer  */
.app-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding-top: 20px;
}
.footer-icon-container {
  display: flex;
}
.footer-icons {
  margin: auto;
  display: inline-block;
}
.block {
  display: block;
}
.monospace {
  font-family: monospace;
}
.footer-icons img {
  height: 30px;
  width: 30px;
}

/* common css */
h1 {
  font-family: sans-serif;
  background: antiquewhite;
  color: burlywood;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 330px) {
  .corousel {
    height: 30vh;
  }
}

@media screen and (min-width: 368px) {
  .corousel {
    height: 40vh;
  }
  .corousel-image img {
    height: 300px;
  }
  .app_header {
    width: 100%;
  }
  .app-search {
    width: 70%;
  }
  .logo-container {
    width: 20%;
  }
}
@media screen and (min-width: 450px) {
  .category-card {
    width: 35%;
  }
  .stores-card {
    width: 30%;
  }
  .clothes-card {
    width: 30%;
  }
}
@media screen and (min-width: 550px) {
  .category-card {
    width: 30%;
  }
  .product_card {
    width: 30%;
  }
}
@media screen and (min-width: 650px) {
  .category-card {
    width: 25%;
  }
}
@media screen and (min-width: 750px) {
  .category-card {
    width: 20%;
  }
}
@media screen and (min-width: 800px) {
  .corousel {
    height: 50vh;
  }
  .corousel-image img {
    height: 400px;
  }
  .stores-card {
    width: 16%;
  }
  .clothes-card {
    width: 16%;
  }
  .app_header {
    display: none;
  }
  .header {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .category-card {
    width: 16.2%;
  }
  .corousel {
    height: 65vh;
  }
  .corousel-image img {
    height: 500px;
  }
  .product_card {
    width: 16%;
  }
}
